body{
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #1A181B;
	background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/99/95/6457fb584a65c01.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	font-family: "Roboto", sans-serif;
}

*:focus{
	outline: none;
}

.wrapper{
	overflow-x: hidden;
	opacity: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(25,25,25,0);
}
 
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.8);  
}

*::selection{
    background: #aaaaaa;
}

#header{
	height: 45vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 1250;
}

#header_background{
	position: fixed;
	bottom: 0;
	right: 0;
	min-width: 100%; 
	min-height: 100%;
	left: 0;
	z-index: -1;
	animation: fadeIn 2s ease;
}

@keyframes fadeIn{
	0%{opacity: 0;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}

#header_navbar{
	height: 5vh;
	width: calc(100vw - 10px);
	background-color: rgba(255,255,255,0);
	z-index: 1500000000;
	position: fixed;
	top: 0;
	left: 0;
	color: black;
	user-select: none;
	display: flex;
	align-items: center;
	transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
	border-bottom: 1px solid black;
	background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.5));
	transition: top 0.75s ease-in-out;
}

#header_navbar:hover{
	background-color: rgba(255,255,255,0.6);
	border-bottom: 3px solid black;
}

#header_navbar_links{
	position: absolute;
	top: 1.5vh;
	right: 2vw;
	height: 5vh;
	color: black;
	text-decoration: none;
	display: inline;
}

.nav_main_link{
	color: black;
	text-decoration: none;
	font-family: "Montserrat";
	transition: color 0.3s ease-in-out;
	padding: 10px;
	display: inline;
}

#nav_title_link{
	position: relative;
	left: 1vw;
}

header:hover a{
	color: rgba(0,0,0,0.5);
}

header a:hover{
	color: black;
	border-bottom: 2px solid black;
	box-sizing: border-box;
	transition: border 0.15s ease-in-out;
}

#header_title{
	color: black;
	background-color: rgba(255,255,255,0.75);
	position: absolute;
	top: 20vh;
	left: 50vw;
	transform: translateX(-50%);
	z-index: 1250;
	padding: 1vw 2vw;
	font-family: "Montserrat";
	font-weight: 800;
	user-select: none;
}

.content{
	width: 60vw;
	position: relative;
	margin-top: 15vh;
	left: 50vw;
	transform: translateX(-50%);
	background-color: white;
	padding: 2vw;
	z-index: 100000;
	font-family: "Open Sans";
	margin-bottom: 5vh;
	text-align: justify;
}

#article1{
	margin-top: 45vh;
}

#google_translate_element{
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 2vw;
	z-index: 9999;
	background-color: #fff;
	padding: 1vw;
	opacity: 0.75;
	transition: opacity 0.2s ease-in-out;
}

#google_translate_element:hover{
	opacity: 1 !important; /*Using !important sucks, but so does the google thing that puts itself on top where we don't want it*/
}

.goog-te-banner-frame{
	position: fixed;
	bottom: 0;
	left: 0;
	opacity: 0;
}

#backTop{
	position: fixed;
	top: 55%;
	right: 2vw;
	z-index: 9999;
	background-color: #fff;
	padding: 1vw;
	opacity: 0.75;
	transition: opacity 0.2s ease-in-out;
	text-decoration: none;
	color: #000;
}

#backTop:hover{
	opacity: 1;
}

.nav-up {
    top: -5vh !important;
}

.hideme{
	opacity: 0;
}

.viewed{
	opacity: 1;
	position: relative;
}

.viewed.showMeBottom{
	animation: showMeBottom 0.5s ease-in-out;
}

.viewed.showMeLeft{
	animation: showMeLeft 0.5s ease-in-out;
}

.viewed.showMeRight{
	animation: showMeRight 0.5s ease-in-out;
}

@keyframes showMeTop{
	from{opacity: 0; transform: translate(-50%, -20vh);}
	to{opacity: 1; transform: translate(-50%, 0);}
}

@keyframes showMeBottom{
	from{opacity: 0; transform: translate(-50%, 20vh);}
	to{opacity: 1; transform: translate(-50%, 0);}
}

@keyframes showMeLeft{
	from{opacity: 0; transform: translate(-100%, 0);}
	to{opacity: 1; transform: translate(-50%, 0);}
}

@keyframes showMeRight{
	from{opacity: 0; transform: translate(50%, 0);}
	to{opacity: 1; transform: translate(-50%, 0);}
}

.pageLoaded{
	animation: fadeIn 1s ease-in-out;
	opacity: 1;
}

#contentPreLoader{
	color: white;
	position: fixed;
	bottom: 35vh;
	left: 5vh;
	font-family: monospace;
	font-size: 2vw;
}

#contentLiveLoader{
	animation: liveLoader 0.75s linear infinite;
}

@keyframes liveLoader{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}
.box{
	position: relative;
	z-index: 999999999999999999999999999999999999;
}
