body{
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #2f4f4f;
	background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/99/95/6457fb584a65c01.jpg);
}

*:focus{
	
	outline: none;
}

.wrapper{
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(25,25,25,0.5);
}
 
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.8);  
}

*::selection{
    background: #aaaaaa;
}

#header{
	height: 45vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 1250;
}

#header_background{
	position: fixed;
	bottom: 0;
	right: 0;
	min-width: 100%; 
	min-height: 100%;
	left: 0;
	z-index: -1;
	animation: loadVideo 1.8s ease;
}

@keyframes loadVideo{
	from{filter: blur(100px);}
	to{filter: blur(0);}
}

#header_navbar{
	height: 5vh;
	width: calc(100vw - 10px);
	background-color: rgba(255,255,255,0);
	z-index: 1500000000;
	position: fixed;
	top: 0;
	left: 0;
	color: black;
	user-select: none;
	display: flex;
	align-items: center;
	transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
	border-bottom: 1px solid black;
	background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.5));
}

#header_navbar:hover{
	background-color: rgba(255,255,255,0.6);
	border-bottom: 1px solid transparent;
}

#header_navbar_links{
	position: absolute;
	top: 0;
	right: 2vw;
	height: 5vh;
	width: 40vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	text-decoration: none;
}

.nav_main_link{
	color: black;
	text-decoration: none;
	font-family: "Montserrat";
	transition: color 0.3s ease-in-out;
	padding: 10px;
}

#nav_title_link{
	position: relative;
	left: 1vw;
}

nav:hover a{
	color: rgba(0,0,0,0.5);
}

nav a:hover{
	color: black;
	border-bottom: 2px solid black;
	box-sizing: border-box;
	transition: border 0.15s ease-in-out;
}

#header_title{
	color: black;
	background-color: rgba(255,255,255,0.75);
	position: absolute;
	top: 20vh;
	left: 50vw;
	transform: translateX(-50%);
	z-index: 1250;
	padding: 1vw 2vw;
	font-family: "Montserrat";
	font-weight: 800;
	user-select: none;
}

.content{
	width: 60vw;
	position: relative;
	margin-top: 45vh;
	left: 50vw;
	transform: translateX(-50%);
	background-color: white;
	padding: 2vw;
	z-index: 100000;
	font-family: "Open Sans";
	margin-bottom: 5vh;
}

.google_translate_element{
	position: fixed;
	top: 35vh;
	right: 50px;
	z-index: 9999;
	background-color: #fff;
}

.nav-up {
    top: -40px;
}
.test {
	z-index: 99999;
}
